<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 second">
      
      <div class="alert alert-success" *ngIf="alert">
        <strong>Success!</strong> Your Form is successfully Submitted.
      </div>

      <h4>Login Form</h4>
      <p>******************</p>
      <div class="buttons">
        <button type="button" class="btn btn-info" (click)="login()">Login</button> &nbsp;
        <button type="button" class="btn btn btn-success" routerLink="registration">Register</button>
      </div>
      <br>
      <br>
      <br>
      <input type="email" placeholder="sample@gmail.com" [(ngModel)]="email">
      <br>
      <br>
      <br>
      <input type="password" placeholder="Password" [(ngModel)]="password">
      <br>
      <br>
      <br>
      <button type="button" class="btn btn-primary" (click)="login()">Login</button>
      <!-- <p routerLink="Registration">Register here</p> -->

    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
